.container-fluid {
  font-size: 24px;
}

.card {
  padding: 20px;
  margin: 20px 20px 20px;
  font-size: 24px;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-12 {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.col-7, .col-5 {
  font-weight: bold;
}

.col-5 {
  padding-right: 8%;
}

hr {
  border: 2px solid;
}

#date {
  color: white;
}

#confirmed, #newConfirmed {
  color: red;
  display: flex;
  justify-content: flex-end;
}

#deaths, #newDeaths {
  color: black;
  display: flex;
  justify-content: flex-end;
}

#recovered, #newRecovered {
  color: rgb(16, 170, 16);
  display: flex;
  justify-content: flex-end;
}

#active {
  color: yellow;
  display: flex;
  justify-content: flex-end;
}
