.container-fluid {
  font-size: 24px;
}

.card {
  padding: 20px;
  margin: 20px 20px 20px;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-7, .col-5 {
  font-weight: bold;
}

hr {
  border: 1px solid;
}

#date {
  color: white;
}

#confirmed, #newConfirmed {
  color: red;
}

#deaths, #newDeaths {
  color: black;
}

#recovered, #newRecovered {
  color: rgb(16, 170, 16);;
}

#active {
  color: yellow;
}
