<div class="container-fluid w-100">
  <div class="card text-white bg-dark mb-3" style="margin-top: 30px; margin-left: 10px; margin-right: 10px;">
    <div class="row">
      <div class="col-xl-3 col-lg-8 col-md-7 col-xs-6">
        <div class="row" style="padding-left: 50px;">
          <h3 (click)="setSorter('Country', upName = getNext(upName))" appHighlight
              tooltip="Sort by Country" show-delay="100" hide-delay="100" theme="light">
            Country
            <i *ngIf="checkIfAsc(upName)" class="fa fa-sort-asc" aria-hidden="true"></i>
            <i *ngIf="checkIfDesc(upName)" class="fa fa-sort-desc" aria-hidden="true"></i>
          </h3>
        </div>
      </div>
      <div class="col-2 d-none d-xl-block" style="padding-left: 30px;">
        <div class="row">
          <h4 (click)="setSorter('TotalConfirmed', upConfirmed = getNext(upConfirmed))" appHighlight
              tooltip="Sort by Confirmed" show-delay="100" hide-delay="100" theme="light">
            Confirmed
            <i *ngIf="checkIfAsc(upConfirmed)" class="fa fa-sort-asc" aria-hidden="true"></i>
            <i *ngIf="checkIfDesc(upConfirmed)" class="fa fa-sort-desc" aria-hidden="true"></i>
          </h4>
        </div>
      </div>
      <div class="col-2 d-none d-xl-block">
        <div class="row" style="padding-left: 20px;">
          <h4 (click)="setSorter('TotalDeaths', upDeaths = getNext(upDeaths))" appHighlight
              tooltip="Sort by Deaths" show-delay="100" hide-delay="100" theme="light">
            Deaths
            <i *ngIf="checkIfAsc(upDeaths)" class="fa fa-sort-asc" aria-hidden="true"></i>
            <i *ngIf="checkIfDesc(upDeaths)" class="fa fa-sort-desc" aria-hidden="true"></i>
          </h4>
        </div>
      </div>
      <div class="col-2 d-none d-xl-block">
        <div class="row" >
          <h4 (click)="setSorter('TotalRecovered', upRecovered = getNext(upRecovered))" appHighlight
              tooltip="Sort by Recovered" show-delay="100" hide-delay="100" theme="light">
            Recovered
            <i *ngIf="checkIfAsc(upRecovered)" class="fa fa-sort-asc" aria-hidden="true"></i>
            <i *ngIf="checkIfDesc(upRecovered)" class="fa fa-sort-desc" aria-hidden="true"></i>
          </h4>
        </div>
      </div>
      <div class="col-2 d-none d-xl-block">
        <div class="row">
          <h4 (click)="setSorter('Active', upActive = getNext(upActive))" appHighlight
              tooltip="Sort by Active" show-delay="100" hide-delay="100" theme="light">
            Active
            <i *ngIf="checkIfAsc(upActive)" class="fa fa-sort-asc" aria-hidden="true"></i>
            <i *ngIf="checkIfDesc(upActive)" class="fa fa-sort-desc" aria-hidden="true"></i>
          </h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-5 d-xl-none" style="align-items: flex-end; justify-content: flex-end" (click)="updateExpandAll()">
        <i *ngIf="!expandAll; else collapseAll" appEnlargeChevron [sizeNormal]="' fa-lg'" [sizeLarge]="' fa-2x'" class="fa fa-eye fa-lg" aria-hidden="true"></i>
        <ng-template #collapseAll>
          <i appEnlargeChevron [sizeNormal]="' fa-lg'" [sizeLarge]="' fa-2x'" class="fa fa-eye-slash fa-lg" aria-hidden="true"></i>
        </ng-template>
      </div>
    </div>
  </div>
</div>
