.card {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  padding-bottom: 20px;
  padding-top: 20px;
}

.col, .col-xl-3{
  text-align: center;
}

#expandAll {
  align-items: flex-end;
  justify-content: flex-end;
}
