<div class="container-fluid w-100">
  <div class="card text-white bg-dark mb-3" style="padding: 10px; margin: 20px;">
    <div class="row" id="sortBy">
        <h3> Sort by:</h3>
    </div>
    <div class="row">
      <div class="col-12">
        <button (click)="setSorter('Country', upName)"
                class="btn btn-light">Name
          <i *ngIf="upName; else downName" class="fa fa-sort-asc" aria-hidden="true"></i>
          <ng-template #downName>
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </ng-template>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button (click)="setSorter('TotalConfirmed', upConfirmed)"
                class="btn btn-light">Total confirmed
          <i *ngIf="upConfirmed; else downConfirmed" class="fa fa-sort-asc" aria-hidden="true"></i>
          <ng-template #downConfirmed>
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </ng-template>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button (click)="setSorter('TotalDeaths', upDeaths)"
                class="btn btn-light">Total deaths
          <i *ngIf="upDeaths; else downDeaths" class="fa fa-sort-asc" aria-hidden="true"></i>
          <ng-template #downDeaths>
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </ng-template>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button (click)="setSorter('TotalRecovered', upRecovered)"
                class="btn btn-light">Total recovered
          <i *ngIf="upRecovered; else downRecovered" class="fa fa-sort-asc" aria-hidden="true"></i>
          <ng-template #downRecovered>
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</div>
