<div class="container-fluid w-100">
    <div class="card text-white bg-dark mb-3">
        <div class="row">
            <div class="col-7">
                Total confirmed cases:
            </div>
            <div class="col-5" style="color: red;">
                {{getTotalConfirmed()}}
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                Total confirmed deaths:
            </div>
            <div class="col-5" style="color: black;">
                {{getTotalDeaths()}}
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                Total recovered:
            </div>
            <div class="col-5" style="color: rgb(16, 170, 16);">
                {{getTotalRecovered()}}
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                Active cases:
            </div>
            <div class="col-5" style="color: yellow;">
                {{getActiveCases()}}
            </div>
        </div>
    </div>
</div>
