<div class="container-fluid w-100">
    <div class="card text-white bg-dark mb-3">
        <div class="row">
            <div class="col-6">
                Total confirmed cases:
            </div>
            <div class="col-6" style="color: red;">
                {{globalData?.TotalConfirmed.toLocaleString()}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Total confirmed deaths:
            </div>
            <div class="col-6" style="color: black;">
                {{globalData?.TotalDeaths.toLocaleString()}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Total recovered:
            </div>
            <div class="col-6" style="color: rgb(16, 170, 16);">
                {{globalData?.TotalRecovered.toLocaleString()}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Active cases:
            </div>
            <div class="col-6" style="color: yellow;">
                {{activeCases?.toLocaleString()}}
            </div>
        </div>
    </div>
</div>
