.page-footer {
  margin-top: auto;
  position: relative;
  width: 100%;
}

hr {
  border: 1px solid;
}

.footer-copyright {
  color: white;
}

#source, #creator {
  color: white;
}

#copyright, #sourceText {
  color: gray;
}

.fa {
  font-size: 24px;
}

#footerRight {
  padding-right: 35px;
}

/* media queries */

@media (min-width: 1501px) {
  .page-footer {
    font-size: 16px;
  }
}

@media (min-width: 1200px ) and (max-width: 1500px) {
  .page-footer {
    font-size: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .page-footer {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-footer {
    font-size: 13px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .page-footer {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .page-footer {
    font-size: 12px;
  }
}
