.card {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 20px;
}

.col {
  text-align: center;
}

.col-xl-3 {
  text-align: start;
  padding-left: 5%;
}

h4 {
  font-size: 25px;
  font-family: Arial, serif;
}

#expandAll {
  align-items: flex-end;
  justify-content: flex-end;
}
