<div (window:resize)="onResize($event)" class="container-fluid w-100">
  <div class="card text-white bg-dark mb-3">
    <div class="row" id="filter">
      <h3> Filter countries: </h3>
    </div>
    <div class="row">
      <div class="col-4">
        <a>By name:</a>
      </div>
      <div class="col-8">
        <input (ngModelChange)="filterByName(name)" [(ngModel)]="name" class="text w-75">
      </div>
    </div>
    <div class="row">
      <div [ngClass]="{'col-3': resize, noResized: !resize}">
        <a>By confirmed:</a>
      </div>
      <div [ngClass]="{'col-5': resize, noResized: !resize}">
        <a>from</a>
        <input class="text w-75" [(ngModel)]="minTotal" (ngModelChange)="filerByMinTotal(minTotal)">
      </div>
      <div [ngClass]="{'col-4': resize, noResized: !resize}">
        <a>to</a>
        <input class="text w-75" [(ngModel)]="maxTotal" (ngModelChange)="filerByMaxTotal(maxTotal)">
      </div>
    </div>
    <div class="row">
      <div [ngClass]="{'col-3': resize, noResized: !resize}">
        <a>By deaths:</a>
      </div>
      <div [ngClass]="{'col-5': resize, noResized: !resize}">
        <a>from</a>
        <input class="text w-75" [(ngModel)]="minDeaths" (ngModelChange)="filterByMinDeaths(minDeaths)">
      </div>
      <div [ngClass]="{'col-4': resize, noResized: !resize}">
        <a>to</a>
        <input class="text w-75" [(ngModel)]="maxDeaths" (ngModelChange)="filterByMaxDeaths(maxDeaths)">
      </div>
    </div>
    <div class="row">
      <div [ngClass]="{'col-3': resize, noResized: !resize}">
        <a>By recovered:</a>
      </div>
      <div [ngClass]="{'col-5': resize, noResized: !resize}">
        <a>from</a>
        <input class="text w-75" [(ngModel)]="minRecovered" (ngModelChange)="filterByMinRecovered(minRecovered)">
      </div>
      <div [ngClass]="{'col-4': resize, noResized: !resize}">
        <a>to</a>
        <input class="text w-75" [(ngModel)]="maxRecovered" (ngModelChange)="filterByMaxRecovered(maxRecovered)">
      </div>
    </div>
  </div>
</div>
