<div class="container-fluid w-100">
  <div class="card text-white bg-dark mb-3">
    <div class="row">
      <h3> Filter countries: </h3>
    </div>
    <div class="row">
      <a>By Name:</a>
      <input class="text" [(ngModel)]="name" (ngModelChange)="filterByName(name)">
    </div>
    <div class="row">
      <a>By Minimal Total Cases:</a>
      <input class="text" [(ngModel)]="minTotal" (ngModelChange)="filerByMinTotal(minTotal)">
    </div>
    <div class="row">
      <a>By Maximal Total Cases:</a>
      <input class="text" [(ngModel)]="maxTotal" (ngModelChange)="filerByMaxTotal(maxTotal)">
    </div>
    <div class="row">
      <a>By Minimal Deaths:</a>
      <input class="text" [(ngModel)]="minDeaths" (ngModelChange)="filterByMinDeaths(minDeaths)">
    </div>
    <div class="row">
      <a>By Maximal Deaths:</a>
      <input class="text" [(ngModel)]="maxDeaths" (ngModelChange)="filterByMaxDeaths(maxDeaths)">
    </div>
    <div class="row">
      <a>By Minimal Recovered:</a>
      <input class="text" [(ngModel)]="minRecovered" (ngModelChange)="filterByMinRecovered(minRecovered)">
    </div>
    <div class="row">
      <a>By Maximal Recovered:</a>
      <input class="text" [(ngModel)]="maxRecovered" (ngModelChange)="filterByMaxRecovered(maxRecovered)">
    </div>
  </div>
</div>
