<div id="container" class="row" (window:resize)="onResize($event)">
  <div class="col-4">
    <div id="toggle" class="row">
      <ng-toggle [value]="this.toggleMode"
                 [color]="{ unchecked: 'black', checked: 'white'}"
                 [switchColor]="{ unchecked: 'white', checked: 'black'}"
                 [width]="toggleWidth"
                 [height]="toggleHeight"
                 (change)="onSwipe()">
      </ng-toggle>
      <div [ngClass]="this.stylingService.darkMode ? 'moon' : 'gg-sun'"></div>
    </div>
  </div>
  <div class="col-8">
    <h1 [ngStyle]="{backgroundColor: stylingService.getBackgroundColor(), color: stylingService.getTextColor() }">
      {{headerTitle}}
    </h1>
  </div>
</div>
<hr [ngStyle]="{color: stylingService.getTextColor()}">
