<div class="container-fluid w-100" (window:resize)="onResize($event)">
  <div [ngClass]="this.stylingService.getCardColor()">
    <div class="row">
      <div id="wrapper" class="col-12">
        <input class="text w-75" type="text" list="countries" placeholder="Country"
               [(ngModel)]="name" (ngModelChange)="filterByName()"
               (keyup)="this.filterList()">
        <i [ngClass]="iconSize" (click)="clearInput()" tooltip="Clear"
           theme="{{this.stylingService.getTooltipTheme()}}"></i>
        <datalist id="countries">
          <option *ngFor="let country of filteredList">
            {{country.Country}}
          </option>
        </datalist>
      </div>
    </div>
    <div class="col-12 row" id="toggle">
      <span>contains</span>
      <ng-toggle [value]="this.starsWith"
                 [color]="{ unchecked: stylingService.getTextColor(), checked: stylingService.getTextColor()}"
                 [switchColor]="{ unchecked: stylingService.getBackgroundColor(), checked: stylingService.getBackgroundColor()}"
                 [width]="toggleWidth"
                 [height]="toggleHeight"
                 (change)="this.switchApproach()">
      </ng-toggle>
      <span>startsWith</span>
    </div>
  </div>
</div>
