.card {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 4% 3% 2%;
  margin: 5% 2% 4%;
}

#toggle {
  justify-content: center;
}

ng-toggle {
  margin-left: 3%;
  margin-right: 3%;
}
.col-12 {
  text-align: center;
}

input {
  margin-bottom: 2%;
}

i {
  cursor: pointer;
  margin-left: 2%;
}

/* media queries */

@media (min-width: 1501px) {
  span {
    font-size: 18px;
  }
}

@media (min-width: 1200px ) and (max-width: 1500px) {
  span {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  span {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  span {
    font-size: 18px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  span {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  span {
    font-size: 14px;
  }
}
