.card {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3% 3% 3%;
  margin: 5% 2% 4%;
}

.completer-dropdown[_ngcontent-tsn-1] {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

.col-5, .col-7 {
  text-align: start;
}

h4 {
  font-weight: bold;
  font-size: 24px;
  font-family: Arial, serif;
}

/* media queries */

@media (min-width: 1501px) {
  h4 {
    font-size: 25px;
  }
}

@media (min-width: 1200px ) and (max-width: 1500px) {
  h4 {
    font-size: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  h4 {
    font-size: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h4 {
    font-size: 22px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  h4 {
    font-size: 19px;
  }
}

@media (max-width: 575px) {
  h4 {
    font-size: 16px;
  }
}
