<div class="container-fluid">
  <app-header></app-header>
  <div class="row">
    <div class="col-xl-8 col-12">
      <div id="chart" class="card text-white bg-light mb-3" *ngIf="countryStats && size">
        <app-details-chart [statistics]="countryStats" [dates]="getDays()"></app-details-chart>
      </div>
    </div>
    <div id="data" *ngIf="countryStats && size && isFetched" class="col-xl-4 col-12">
      <div id="extendedData" class="card text-white bg-dark mb-3" tooltip="Extended data" show-delay="100" hide-delay="100"
           placement="top" theme="light">
        <div id="country" class="row">
          <h3>{{countryName}}
            <img [src]="getCountryFlag()" alt="Big country flag"/>
          </h3>
        </div>
        <div class="row">
          <div class="col-8">
            Date:
          </div>
          <div id="date" class="col-4">
            {{getDateAndCheckData()}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-8">
            Total confirmed:
          </div>
          <div id="confirmed" class="col-4">
            {{getTotalConfirmed()}}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            Total deaths:
          </div>
          <div id="deaths" class="col-4">
            {{getTotalDeaths()}}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            Total recovered:
          </div>
          <div id="recovered" class="col-4">
            {{getTotalRecovered()}}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            Active cases:
          </div>
          <div id="active" class="col-4">
            {{getActiveCases()}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-8">
            New confirmed:
          </div>
          <div id="newConfirmed" *ngIf="country" class="col-4">
            {{getNewConfirmed()}}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            New deaths:
          </div>
          <div id="newDeaths" *ngIf="country" class="col-4">
            {{getNewDeaths()}}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            New recovered:
          </div>
          <div id="newRecovered" *ngIf="country" class="col-4">
            {{getNewRecovered()}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
