<div class="container-fluid" style="background-color: black; min-height: 970px;">
  <div class="row">
    <div class="col-xl-8 col-12">
      <div class="card text-white bg-light mb-3" *ngIf="countryStats && size" style="margin: 10px;">
        <app-details-chart [statistics]="countryStats" [dates]="getDays()"></app-details-chart>
      </div>
    </div>
    <div id="data" *ngIf="countryStats && size && isFetched" class="col-xl-4 col-12">
      <div class="card text-white bg-dark mb-3" tooltip="Extended data" show-delay="100" hide-delay="100"
           placement="top" theme="light" style="font-size: 24px; margin: 20px; padding: 20px;">
        <div class="row" style="justify-content: center; margin-bottom: 20px;">
          <h3 style="font-weight: bold">{{countryName}}
            <img [src]="getCountryFlag()" alt="Big country flag"/>
          </h3>
        </div>
        <div class="row">
          <div class="col-8">
            Date:
          </div>
          <div class="col-4" style="color: white; padding-bottom: 20px;">
            {{getDateAndCheckData()}}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            Total confirmed:
          </div>
          <div class="col-4" style="color: red;">
            {{getTotalConfirmed()}}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            Total deaths:
          </div>
          <div class="col-4" style="color: black;">
            {{getTotalDeaths()}}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            Total recovered:
          </div>
          <div class="col-4" style="color: green;">
            {{getTotalRecovered()}}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            Active cases:
          </div>
          <div class="col-4" style="color: yellow;">
            {{getActiveCases()}}
          </div>
        </div>
        <div class="row">
          <div class="col-8" style="margin-top: 20px;">
            New confirmed:
          </div>
          <div *ngIf="country" class="col-4" style="color: red; margin-top: 20px;">
            {{getNewConfirmed()}}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            New deaths:
          </div>
          <div *ngIf="country" class="col-4" style="color: black;">
            {{getNewDeaths()}}
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            New recovered:
          </div>
          <div *ngIf="country" class="col-4" style="color: green;">
            {{getNewRecovered()}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
