<div class="container-fluid w-100">
    <div class="card text-white bg-dark mb-3" style="padding: 10px; margin: 20px;">
        <div class="row" (click)="expandCountry()">
            <div class="col-8">
                {{country.Country}}
            </div>
          <div class="col-4">
            <i *ngIf="!expand" class="fa fa-chevron-down" aria-hidden="true"></i>
            <i *ngIf="expand" class="fa fa-chevron-up" aria-hidden="true"></i>
          </div>
        </div>
        <div *ngIf="expand">
            <hr style="margin: 20px; border: 1px solid;">
            <div class="row" style="padding-top: 10px;">
                <div class="col-6">
                    Total confirmed cases:
                </div>
                <div class="col-6" style="color: red;">
                    {{country.TotalConfirmed}}
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-6">
                    Total confirmed deaths:
                </div>
                <div class="col-6" style="color: black; font-weight: bold;">
                    {{country.TotalDeaths}}
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-6">
                    Total recovered:
                </div>
                <div class="col-6" style="color: rgb(16, 170, 16);">
                    {{country.TotalRecovered}}
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-6">
                    Active cases:
                </div>
                <div class="col-6" style="color: yellow;">
                    {{country.TotalConfirmed - country.TotalRecovered - country.TotalDeaths}}
                </div>
            </div>
          <div class="row" style="padding-top: 20px;">
            <div class="col-6">
              <button class="btn btn-light" [routerLink]="['/', country.Country]"
                      routerLinkActive="active">Details</button>
            </div>
          </div>
        </div>
    </div>
</div>
