<div style="display: block; padding: 15px;" >
  <canvas baseChart
          [chartType]="chartType"
          [datasets]="chartDatasets"
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="true"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
  <div class="container" style="color: black; float: left; margin: 20px;">
    <div class="form-check form-check">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked="checked"
             (click)="toggleTotal()">
      <label class="form-check-label" for="inlineCheckbox1">Total confirmed</label>
    </div>
    <div class="form-check form-check">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" (click)="toggleDeaths()">
      <label class="form-check-label" for="inlineCheckbox2">Total deaths</label>
    </div>
    <div class="form-check form-check">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"(click)="toggleRecovered()">
      <label class="form-check-label" for="inlineCheckbox3">Total recovered</label>
    </div>
    <div class="form-check form-check">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" (click)="toggleActive()">
      <label class="form-check-label" for="inlineCheckbox3">Active cases</label>
    </div>
  </div>
</div>
