<div class="container-fluid w-100">
    <div class="card text-white bg-dark mb-3" style="padding: 10px; margin: 20px;">
        <div class="row">
          <div class="col-lg-6 col-md-9">
                {{index}}. {{country.Country}}
          </div>
          <div *ngIf="checkCountryOrTotalConfirmed()" class="col-4" style="color: red">
            {{getTotalConfirmed()}}
          </div>
          <div *ngIf="checkTotalDeaths()" class="col-4" style="color: black; font-weight: bold;">
            {{getTotalDeaths()}}
          </div>
          <div *ngIf="checkTotalRecovered()" class="col-4" style="color: rgb(16, 170, 16);">
            {{getTotalRecovered()}}
          </div>
          <div *ngIf="expand" class="col-4">
          </div>
          <div class="col-lg-2 col-md-3" (click)="expandCountry()">
            <i *ngIf="!expand; else collapse" appEnlargeChevron [sizeNormal]="' fa'" [sizeLarge]="' fa-lg'" class="fa fa-chevron-down" aria-hidden="true"></i>
            <ng-template #collapse>
              <i appEnlargeChevron [sizeNormal]="' fa'" [sizeLarge]="' fa-lg'" class="fa fa-chevron-up" aria-hidden="true"></i>
            </ng-template>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3" *ngIf="expand">
            <hr style="margin: 20px; border: 1px solid;">
            <div class="row" style="padding-top: 10px;">
                <div class="col-6">
                    Total confirmed cases:
                </div>
                <div class="col-6" style="color: red;">
                    {{getTotalConfirmed()}}
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-6">
                    Total confirmed deaths:
                </div>
                <div class="col-6" style="color: black; font-weight: bold;">
                    {{getTotalDeaths()}}
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-6">
                    Total recovered:
                </div>
                <div class="col-6" style="color: rgb(16, 170, 16);">
                    {{getTotalRecovered()}}
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-6">
                    Active cases:
                </div>
                <div class="col-6" style="color: yellow;">
                    {{getActiveCases()}}
                </div>
            </div>
          <div class="row" style="padding-top: 20px;">
            <div class="col-6">
              <button *ngIf="country" class="btn btn-light" [routerLink]="['/', country.Country]"
                      [state]="country">Details</button>
            </div>
          </div>
        </div>
    </div>
</div>
