.row {
    padding-left: 20px;
}

i {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .col-4 {
    display:none;
    width:0;
    height:0;
    opacity:0;
    visibility: collapse;

  }
}
