.card {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin: 20px;
}

.row {
  padding: 10px;
}

.col-5, .col-7 {
  text-align: center;
}

h4 {
  font-weight: bold;
}
