<div (window:resize)="onResize($event)" class="container-fluid w-100">
  <div class="card text-white bg-dark mb-3" style="justify-content: center; align-content: center; display: flex;
              margin-top: 30px;">
    <div class="row" style="padding: 10px;">
      <div class="col-5">
        <h4 style="font-weight: bold;">Country search</h4>
      </div>
      <div class="col-7">
        <input class="text w-75" [(ngModel)]="name" (ngModelChange)="filterByName()">
      </div>
    </div>
  </div>
</div>
