.card {
  padding: 2% 6% 2% 5%;
  margin: 4% 1% 4%;
}

.row {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.col-12 {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.col-7, .col-5 {
  font-weight: bold;
}

hr {
  border: 2px solid;
}

#confirmed, #newConfirmed {
  color: red;
  display: flex;
  justify-content: flex-end;
}

#deaths, #newDeaths {
  color: black;
  display: flex;
  justify-content: flex-end;
}

#recovered, #newRecovered {
  color: rgb(16, 170, 16);
  display: flex;
  justify-content: flex-end;
}

#active {
  color: orange;
  display: flex;
  justify-content: flex-end;
}

/* media queries */

@media (min-width: 1501px) {
  .col-7, .col-5, #date {
    font-size: 25px;
  }
}

@media (min-width: 1200px ) and (max-width: 1500px) {
  .col-7, .col-5, #date {
    font-size: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-7, .col-5, #date {
    font-size: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-7, .col-5, #date {
    font-size: 22px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .col-7, .col-5, #date {
    font-size: 19px;
  }
}

@media (max-width: 575px) {
  .col-7, .col-5, #date {
    font-size: 16px;
  }
}
