<div class="container-fluid w-100">
  <div [ngClass]="this.stylingService.darkMode ? 'card text-white bg-dark mb-3' : 'card text-black bg-light mb-3'"
       tooltip="Global data" show-delay="100" hide-delay="100"
       placement="left" theme="{{this.stylingService.getTooltipTheme()}}">
    <div class="row">
      <div id="date" class="col-12">
        {{getDate()}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-7">
        {{constants.TOTAL_CONFIRMED}}
      </div>
      <div id="confirmed" class="col-5">
        {{getTotalConfirmed()}}
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        {{constants.TOTAL_DEATHS}}
      </div>
      <div id="deaths" class="col-5">
        {{getTotalDeaths()}}
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        {{constants.TOTAL_RECOVERED}}
      </div>
      <div id="recovered" class="col-5">
        {{getTotalRecovered()}}
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        {{constants.ACTIVE_CASES}}
      </div>
      <div id="active" class="col-5">
        {{getActiveCases()}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-7">
        {{constants.NEW_CONFIRMED}}
      </div>
      <div id="newConfirmed" class="col-5">
        {{getNewConfirmed()}}
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        {{constants.NEW_DEATHS}}
      </div>
      <div id="newDeaths" class="col-5">
        {{getNewDeaths()}}
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        {{constants.NEW_RECOVERED}}
      </div>
      <div id="newRecovered" class="col-5">
        {{getNewRecovered()}}
      </div>
    </div>
  </div>
</div>
