<div class="container-fluid" [ngStyle]="{backgroundColor: this.stylingService.getBackgroundColor()}">
  <app-header></app-header>
  <div class="row" style="flex: 0.9">
    <div class="col-xl-8">
      <div *ngIf="countryList.length > 0">
        <app-country-list [countryList]="countryList"></app-country-list>
      </div>
    </div>
    <div class="col-xl-4">
      <app-filters></app-filters>
      <app-global *ngIf="globalData" [globalData]="globalData"></app-global>
    </div>
  </div>
  <app-footer></app-footer>
</div>
