<div class="container-fluid" style="background-color: black; min-height: 970px">
    <div class="row">
        <div class="col-5">
            <div *ngIf="countryList.length > 0">
              <app-country-list [countryList]="countryList"
                                [expandAll]="expandAll"
                                [reverse]="reverse"
                                [sortBy]="sortBy">
              </app-country-list>
            </div>
        </div>
        <div class="col-7">
            <app-global *ngIf="globalData" [globalData]="globalData">
            </app-global>
            <div id="rowing" class="row">
              <div class="col-xl-6 col-12">
                <app-sorter></app-sorter>
              </div>
              <div class="col-xl-6 col-12">
                <app-filters></app-filters>
              </div>
            </div>
        </div>
    </div>
</div>
