.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-y: scroll;
}

#extendedData {
  font-size: 24px;
  font-family: Arial, serif;
  padding: 2% 6% 2% 5%;
  margin-left: 3%;
  margin-right: 3%;
}

#data {
  padding-bottom: 5%;
}

#country {
  justify-content: center;
  margin-bottom: 4%;
}

em {
  padding-top: 12%;
}

h3 {
  font-weight: bold;
}

.row {
  padding-top: 1.2%;
  padding-bottom: 1.2%;
}

.col-5, .col-7 {
  font-weight: bold;
}

.col-5 {
  display: flex;
  justify-content: flex-end;
}

hr {
  border: 1px solid;
}

#confirmed, #newConfirmed {
  color: red;
}

#deaths, #newDeaths {
  color: black;
}

#recovered, #newRecovered {
  color: rgb(16, 170, 16);;
}

#active {
  color: orange;
  padding-bottom: 10px;
}

/* media queries */

@media (min-width: 1501px) {
  .col-7, .col-5, #date {
    font-size: 25px;
  }

  h3 {
    font-size: 28px;
  }
}

@media (min-width: 1200px ) and (max-width: 1500px) {
  .col-7, .col-5, #date {
    font-size: 20px;
  }

  h3 {
    font-size: 24px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-7, .col-5, #date {
    font-size: 25px;
  }

  h3 {
    font-size: 28px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-7, .col-5, #date {
    font-size: 22px;
  }

  h3 {
    font-size: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .col-7, .col-5, #date {
    font-size: 19px;
  }

  h3 {
    font-size: 22px;
  }
}

@media (max-width: 575px) {
  .col-7, .col-5, #date {
    font-size: 16px;
  }

  h3 {
    font-size: 19px;
  }
}
