<div class="container-fluid" [ngStyle]="{backgroundColor: stylingService.getBackgroundColor()}">
  <app-header></app-header>
  <div class="row" style="flex: 0.9">
    <div id="data" *ngIf="countryStats && size && isFetched" class="col-xl-4 col-12">
      <div [ngClass]="this.stylingService.darkMode ? 'card text-white bg-dark mb-3' : 'card text-black bg-light mb-3'"
           id="extendedData" tooltip="Extended data" show-delay="100" hide-delay="100"
           placement="top" theme="{{this.stylingService.getTooltipTheme()}}">
        <div id="country" class="row">
          <div class="col-3">
            <em appEnlargeChevron [sizeNormal]="' fa'" [sizeLarge]="' fa-lg'"
                class="fa fa-arrow-left" [routerLink]="['/']"
                routerLinkActive="active"
                tooltip="Main page" placement="top" theme="{{this.stylingService.getTooltipTheme()}}"></em>
          </div>
          <div class="col-9">
            <h3>
              {{countryName}}
              <img [src]="getCountryFlag()" alt=""/>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            Date:
          </div>
          <div id="date" class="col-5">
            {{getDateAndCheckData()}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-7">
            Total confirmed:
          </div>
          <div id="confirmed" class="col-5">
            {{getTotalConfirmed()}}
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            Total deaths:
          </div>
          <div id="deaths" class="col-5">
            {{getTotalDeaths()}}
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            Total recovered:
          </div>
          <div id="recovered" class="col-5">
            {{getTotalRecovered()}}
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            Active cases:
          </div>
          <div id="active" class="col-5">
            {{getActiveCases()}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-7">
            New confirmed:
          </div>
          <div id="newConfirmed" *ngIf="country" class="col-5">
            {{getNewConfirmed()}}
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            New deaths:
          </div>
          <div id="newDeaths" *ngIf="country" class="col-5">
            {{getNewDeaths()}}
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            New recovered:
          </div>
          <div id="newRecovered" *ngIf="country" class="col-5">
            {{getNewRecovered()}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-12">
      <div id="chart" class="card text-white bg-light mb-3" *ngIf="countryStats && size">
        <app-details-chart [statistics]="countryStats" [dates]="getDays()"></app-details-chart>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
