.card {
  padding-top: 0.6%;
  padding-bottom: 0.6%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.row {
  align-items: center;
}

.col {
  text-align: end;
}

#countryParent {
  text-align: start;
  padding-left: 5%;
}

#confirmed {
  padding-right: 6%;
  color: red;
  font-weight: bold;
}

#deaths {
  padding-right: 8%;
  color: black;
  font-weight: bold;
}

#recovered {
  padding-right: 7%;
  color: rgb(16, 170, 16);
  font-weight: bold;
}

#active {
  padding-right: 7%;
  color: orange;
  font-weight: bold;
}

/* media queries */

@media (min-width: 1501px) {
  #country, #confirmed, #deaths, #recovered, #active, #oneParam {
    font-size: 16px;
  }

  #countryParent {
    padding-left: 5%;
  }
}

@media (min-width: 1200px ) and (max-width: 1500px) {
  #country, #confirmed, #deaths, #recovered, #active, #oneParam {
    font-size: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #country, #confirmed, #deaths, #recovered, #active, #oneParam {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #country, #confirmed, #deaths, #recovered, #active, #oneParam {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #country, #confirmed, #deaths, #recovered, #active, #oneParam {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  #country, #confirmed, #deaths, #recovered, #active, #oneParam {
    font-size: 11px;
  }

  #countryParent {
    padding-left: 8%;
  }

  #confirmed {
    padding-right: 18%;
  }
}
