<div class="container-fluid w-100">
  <div [ngClass]="this.stylingService.darkMode ? 'card text-white bg-dark mb-3' : 'card text-black bg-light mb-3'">
    <div class="row">
      <div class="col-12">
        <pagination-template #p="paginationApi" (pageChange)="changePage(page=$event)"
                             (pageBoundsCorrection)="changePage(page=$event)">
          <div class="custom-pagination">
            <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
              <span *ngIf="!p.isFirstPage()" (click)="p.previous()"> < </span>
            </div>
            <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
              <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{page.label}}</span>
              <div [ngStyle]="{backgroundColor: this.stylingService.getTextColor(), color: this.stylingService.getBackgroundColor()}" *ngIf="p.getCurrent() === page.value">
                <span>{{page.label}}</span>
              </div>
            </div>
            <div class="pagination-next" [class.disabled]="p.isLastPage()">
              <span *ngIf="!p.isLastPage()" (click)="p.next()"> > </span>
            </div>
          </div>
        </pagination-template>
      </div>
    </div>
  </div>
</div>
