.card {
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  margin-top: 1.5%;
}

.row {
  display: flex;
  align-items: center;
}

.col-12 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-pagination .page-number{
  display: inline-block;
}

.page-number {
  display: flex;
  cursor: pointer;
}

.pagination-previous,.pagination-next{
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

#number {
  padding-left: 25%;
  padding-right: 25%;
}

/* media queries */

@media (min-width: 1501px) {
  .container-fluid {
    font-size: 16px;
  }

  .pagination-previous,.pagination-next {
    padding-right: 10px;
  }

  .page-number {
    width: 28px;
  }
}

@media (min-width: 1200px ) and (max-width: 1500px) {
  .container-fluid {
    font-size: 15px;
  }

  .pagination-previous,.pagination-next {
    padding-right: 8px;
  }

  .page-number {
    width: 26px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container-fluid {
    font-size: 16px;
  }

  .pagination-previous,.pagination-next {
    padding-right: 6px;
  }

  .page-number {
    width: 24px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    font-size: 14px;
  }

  .pagination-previous,.pagination-next {
    padding-right: 4px;
  }

  .page-number {
    width: 22px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container-fluid {
    font-size: 13px;
  }

  .pagination-previous,.pagination-next {
    padding-right: 2px;
  }

  .page-number {
    width: 20px;
  }
}

@media (max-width: 575px) {
  .container-fluid {
    font-size: 12px;
  }

  .pagination-previous,.pagination-next {
    padding-right: 5px;
  }

  .page-number {
    width: 18px;
  }
}
